.body{
    color: #F8FAFC;
}

.navbar{
    border-radius: 10px;
    padding-top: 15px;
    background-color: #f8f7f2;
}


.navdiv{
    display:flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 190px;
    padding-top: 5px;
    
}
.nav-list{
    list-style: none;
    display: inline;
    padding-right: 10px;
    
}

.nav-list :hover{
    color: blue;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-list a{
    color: black;
    margin: 2px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

#nav-bttn{
    text-decoration: none;
    margin: auto;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 10px;
    border-radius: 15px;
    border-width: 1px;
    margin-left: 10px;
    background-color: #1566fe;
    color: white;
}

.container{
    padding-top: 60px;
    padding-left: 100px;
    display: grid;
    padding-bottom: 50px;
    background-color: #f8f7f2;
    background: linear-gradient(to top, #f8f7f2, #f8f7f2);
}

.container h3{
    font-family: 'poppin',sans-serif;
    text-align: center;
    margin-left: -100px;
}

.container h1{
    font-family: 'poppin',sans-serif;
    text-align: center;
    margin-left: -100px;
    line-height: 41px;
}

.container img{
    width: 1050px;
    height: auto;
    margin-left: 150px;
    padding-top: 25px;
}

.container-2{
    background-color: #719ced;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #5849be;
    padding-left: 220px;
}

.container-2 h1{
    font-family: 'poppin',sans-serif;
    text-align: center;
    margin-left: -250px;
}

.skillContainer{
    display: inline-block;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.skill-circle{
    border-radius: 50%;
    background-color: transparent;
    width: 220px;
    height: 220px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    
    justify-items: center;
    margin-right: 200px;
}

.service-icon{
    filter: invert(100%);
}

.pic{
    display: flex;
    border-radius: 50%;
    background-color: #6858c7;
    width: 75px;
    height: 75px;
    margin-top: 30PX;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.skill-circle h3{
    margin-top: 40px;
    text-align: center;
    font-family: 'poppin',sans-serif;
    font-weight: 40;
    font-size: 15px;
}

.container-3{
    padding-bottom: 30px;
}

.container-3 h1{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'poppin',sans-serif;
}

.education-container{
    display: flex;
    padding-top: 20px;
}

.container-3 hr{
    width: 80%;
}


.education-content p{
    font-family: 'poppin',sans-serif;
    margin-left: 150px;
    padding-left: 150px;
    padding-top: 120px;
    margin-right: 40px;
    line-height: 25px;
}

.education-container img{
    width: 400px;
    height: auto;
    padding-right: 300px;
}