.body{
    color: #F8FAFC;
}

.navbar{
    border-radius: 10px;
    padding-top: 15px;
    background-color: #f8f7f2;
}


.navdiv{
    display:flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 190px;
    padding-top: 5px;
    
}
.nav-list{
    list-style: none;
    display: inline;
    padding-right: 10px;
    
}

.nav-list :hover{
    color: blue;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-list a{
    color: black;
    margin: 2px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

#nav-bttn{
    text-decoration: none;
    margin: auto;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 10px;
    border-radius: 15px;
    border-width: 1px;
    margin-left: 10px;
    background-color: #1566fe;
    color: white;
}

.container{
    padding-top: 60px;
    padding-left: 100px;
    display: grid;
    padding-bottom: 50px;
    background-color: #f8f7f2;
    background: linear-gradient(to top, #f8f7f2, #f8f7f2);
}

.container h3{
    font-family: 'poppin',sans-serif;
    text-align: center;
    margin-left: -100px;
}

.container h1{
    font-family: 'poppin',sans-serif;
    text-align: center;
    margin-left: -100px;
}

.container img{
    width: 750px;
    height: auto;
    margin-left: 250px;
}

.container-2{
    background-color: #719ced;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, #f8f7f2, #719ced);
    padding-left: 200px;
}

.container-2 h1{
    font-family: 'poppin',sans-serif;
    text-align: center;
    margin-left: -250px;
}

.skillContainer{
    display: inline-block;
    justify-content: center;
}

.skill-circle{
    border-radius: 50%;
    background-color: transparent;
    width: 200px;
    height: 200px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    
    justify-items: center;
    margin-right: 200px;
}

.service-icon{
    filter: invert(100%);
}

.skill-circle h3{
    margin-top: px;
    text-align: center;
    font-family: 'poppin',sans-serif;
}